* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  /* padding: 50px 2rem; */
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 6px;
  cursor: pointer;
}

.flash-error {
  background-color: red;
}

.flash-error {
  border: 1px solid black;
  position: fixed;
  text-align: center;
  width: 50%;
  height: 17%;
  padding: 24px;
  display: block;
  left: 25%;
}
